* {
  box-sizing: border-box;
}

html {
  background-color: #f97316;
}

body {
  margin: 0;
  min-height: 100vh;
  overscroll-behavior-y: none;
  background-color: #111827;
}

#root {
  min-height: 100vh;
}
